<div id="job-view-container" class="container">
    <div class="row text-center">

        <div id="img-container" class="col-md-12">
            <img src="/img/company.svg" alt="Company">
        </div>
        <div class="col-md-12">
            <h1 class="main-color"> {{job.dataValues.title}}</h1>
            <p class="bold">Quem eles estão buscando:</p>
            <p class="job-des">{{job.dataValues.description}}</p>
            <p><span class="bold">O Salário informado é de:</span>R${{job.dataValues.salary}}</p>
            <p>
                Para trabalhar na <span class="bold main-color">{{job.dataValues.company}}</span> envie um e-mail para a
                <a class="main-color" href="mail:to{{job.dataValues.email}}">{{job.dataValues.email}}</a>
            </p>
        </div>
        <a href="/" class="back-link main-color btn btn-sm">Voltar</a>
    </div>
</div>